<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>849969181257-rr27nkfolvmsvqldbmjnc7b8oh1h3tjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849969181257-rr27nkfolvmsvqldbmjnc7b8oh1h3tjr</string>
	<key>API_KEY</key>
	<string>AIzaSyBH_ZEwduWWgv2BECL3lHyj8lsEFM3SFL8</string>
	<key>GCM_SENDER_ID</key>
	<string>849969181257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nitrox.LaRede</string>
	<key>PROJECT_ID</key>
	<string>la-rede</string>
	<key>STORAGE_BUCKET</key>
	<string>la-rede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849969181257:ios:2c34a0538ee73171</string>
	<key>DATABASE_URL</key>
	<string>https://la-rede.firebaseio.com</string>
</dict>
</plist>